{{!< default}}

<div class="post-title-bar">
    <h1>404 Page Not Found</h1>
</div>

<p class="secondary">
    <a href="{{@site.url}}" class="tag primary-tag quiet-link secondary">Return to Home Page...</a>
</p>